    
.title  {
   margin-top: 40px;
   font-size: 2.5em;
    max-width: 100%;
    }  
 
h1 {
   text-align: center; 
   font-size: 1em;
   max-width: 100%; 
    }    
    


.titleimage { 
    margin: 0 auto;
    display: block;
    max-width: 90%;
    
    }
    
body {
    background: oldlace;
    font-family: sans-serif;
    margin: 0 auto;
    max-width: 900px;
    line-height: 1.4;
    }
   
blockquote {
    font-size: 1em;    
    }
    
.link {
   
   font-size: 1em;
   margin-bottom: 40px;
     
    }
    
.abouttheauthor {
 
    font-style: oblique;
    margin-top: 40px;
    font-size: 1.5em;
    }
    
img.selfie {
    width: 13%; 
    float: left;
    margin-bottom: 40px;
    }
        
@media screen and (max-width: 600px) {
   .titleimage { 
    max-width: 100%;
    }
    
    body {
    max-width: 100%;       
    }
       
    img.selfie {
    max-width: 200px; 
    float: none;
    width: auto;
    }
    
  
    
    
    
}


